<%= simple_form_for(@note, html: { class: 'form-narrow' }) do |f| %>
  <div class="form-narrow-heading">
    <h1>Editing note</h1>
  </div>

  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

  <br/>
  <%= link_to 'Show', @note %> |
  <%= link_to 'Back', notes_path %>
<% end %>
